#home {
  width: 100%;
  height: 90vh;
  background-image: url(./R.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  z-index: 10;
}

.text-home {
  background-color: black;
  border-radius: 2rem;
  opacity: 63%;
  width: 80%;

  height: 16rem;
  position: relative;
  top: -20%;
  text-align: center;
  animation: in 15s linear infinite;
}

.text-home p {
  font-size: 3rem;
  opacity: 1000%;
  margin: auto;
  margin-top: 7%;
}

#home button {
  position: absolute;
  margin-top: 30%;
  padding: 15px 70px;
}

@keyframes in {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  #home {
    background-size: 300%;
    background-position-x: center;
  }

  #home button {
    padding: 10px 45px;
  }

  .text-home {
    width: 80%;
  }
}
